@model IEnumerable<ViewComponentEmployee.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employee Detail</h1>
<head>
    <title>Employee</title>
</head>
<body>
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr><td></td><td><td></td><td><a asp-action="Create" asp-controller="Employee">Create New</a></td></tr>
            <tr>
                <th>
                    Employee Name
                </th>
                <th>
                    Department
                </th>
                <th>
                    Email
                </th>
                <th>
                    Edit|Delete
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a asp-action="Edit"  asp-route-id="@item.id">Edit</a> 
                        @*|*@
                        @*<a asp-action="Delete"  asp-route-id="@item.id">Delete</a>*@
                    </td>
                </tr>
            }

        </tbody>
    </table>

</body>
