@model IEnumerable<ViewComponentEmployee.Models.Employee>

@{
    ViewData["Title"] = "Employee Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Default</h1>

<p>
    <a asp-action="Create" asp-controller="Employee">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                Department
            </th>
            <th>
                Email
            </th>
            <th>
                Edit
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.id">Edit </a>
               

                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>
